@page "/foodstock"
@using LMS.Services;
@using LMS.Shared;
@using LMS.Models;
@using LMS.Pages;

<h3>Food Stock</h3>
<p>This page shows all of your products currently available in your food stock!</p>
<div class="border" style="padding: 20px;">
    <h4>New Product</h4>
    <ProductForm OnItemAdded="@ItemAdded"></ProductForm>
</div>

@foreach (var product in ProductService.ProductQuantityFoodStock)
{
    <ProductDisplay Product_Name="@product.Key" Quantity="@product.Value" ExpirationDate="@GetLatestExpirationDate(product.Key)" OnProductRemoved="@RemoveProduct" OnExpirationDateChanged="@(date => EditExpirationDate(product.Key,date))" OnProductMoved="@MoveProductToOtherList" />
}

@code {
    private void ItemAdded(Product product)
    {
        if (product.Product_Name == null) return;
        ProductService.AddItemToFoodStock(product);
        StateHasChanged();
        OnInitialized();
    }

    private DateOnly GetLatestExpirationDate(string productName)
    {
        return ProductService.GetLatestExpirationDate(productName, ListTypesEnum.ListTypes.FoodStock);
    }

    protected override void OnInitialized()
    {
        ProductService.FoodStockToDictionary();
    }

    private void EditExpirationDate(string productName, DateOnly expirationDate)
    {
        ProductService.UpdateExpirationDateToProduct(productName, expirationDate, ListTypesEnum.ListTypes.ShoppingList);
        StateHasChanged();
    }

    private void RemoveProduct(string productName)
    {
        ProductService.RemoveProduct(productName, ListTypesEnum.ListTypes.FoodStock);
    }

    private void MoveProductToOtherList(string productName)
    {
        ProductService.MoveProduct(productName, ListTypesEnum.ListTypes.ShoppingList);
        RemoveProduct(productName);
        StateHasChanged();
    }
}