@page "/shoppinglist"
@using LMS.Services;
@using LMS.Shared;
@using LMS.Models;

<h3>ShoppingList</h3>

 
@foreach(var product in ProductService.ProductQuantityShoppingList)
{
    <ProductDisplay Product_Name="@product.Key" ExpirationDate="@GetLatestExpirationDate(product.Key)" Quantity="@product.Value" OnExpirationDateChanged="@EditExpirationDate" OnProductRemoved="@RemoveProduct" OnProductMoved="@MoveProductToOtherList"/>
} 



@code {
    private DateOnly GetLatestExpirationDate(string productName)
    {
        return ProductService.GetLatestExpirationDate(productName, ListTypesEnum.ListTypes.ShoppingList);
    }


    protected override void OnInitialized()
    {
        ProductService.ShoppingListToDictionary();
    }

    private void EditExpirationDate()
    {
        StateHasChanged();
    }

    private void RemoveProduct(string productName)
    {
        ProductService.RemoveProduct(productName, ListTypesEnum.ListTypes.ShoppingList);
        StateHasChanged();
    }

    private void MoveProductToOtherList(string productName)
    {
        RemoveProduct(productName);
        Console.WriteLine("MoveProductToOtherList" + productName);
        ProductService.MoveProduct(productName, ListTypesEnum.ListTypes.FoodStock);
        StateHasChanged();
    }
}